<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/sidebar.css" />
    <link rel="stylesheet" href="/stylesheets/tweets/show.css" />
    <link
    id="favicon" 
    rel="icon" 
    type="image/png" 
    href="/image/owl.png"
    sizes="32x32">

    <title><%= title %></title>
