<div class="content5">
    <div>
        <form action="/news" method="POST">
            <input class="rightSearch" type="text" placeholder=" Search" name="content">
        </form>
    </div>

    <div class="section1">
        <p class="sub" style="font-weight: bold; font-size: 20px; ;" >Subscribe to Premium</p>
        <p class="sub" style="font-size: 16px;">Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
        <button class="SubBtn">Subscribe</button>
    </div>
</div>