<div class="content5">
    <div>
        <form action="/news" method="POST">
            <input class="rightSearch" type="text" placeholder=" Search" name="content">
        </form>
    </div>

    <div class="section1">
        <p class="sub" style="font-weight: bold; font-size: 20px; " >Subscribe to Premium</p>
        <p class="sub" style="font-size: 16px;">Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
        <button class="subBtn">Subscribe</button>
    </div>

    <div class="section2">
        <p class="sub" style="font-weight: bold; font-size: 20px; padding: 8px 0px 0px 10px; " >What’s happening</p>
        <div class="sub2">
            <p style="font-weight: bold;">Hurricanes</p>
            <p class="trending" style="padding-bottom: 60px;">NHL · Last night </p>
            <img class="hurricanes" src="https://pbs.twimg.com/semantic_core_img/1524057596348362752/DNS4i_Fq?format=jpg&name=360x360" alt="">
        </div>
        <div class="sub2">
            <p class="trending">Trending in Microsoft</p>
            <p style="font-weight: bold;">Blizzard </p>
        </div>
        <div class="sub2">
            <p class="trending">Trending · Politics</p>
            <p style="font-weight: bold;">Mconnell</p>
        </div>
        <div class="sub2">
            <p class="trending">Entertainment · Trending</p>
            <p style="font-weight: bold;" >Sydney Sweeney</p>
        </div>
        
    </div>
</div>