    <div class="content3">
      <p> <img class="logo" src="/image/owl.png" alt="" width="38" height="38"></p>
      <a href="/tweets"><p style="font-weight: bold;" class="sidebar"><img class="logo1" src="/image/home.png" alt=""> Home</p></a>
        <a href="/news"><p class="sidebar"><img class="logo1" src="/image/magnifying-glass (1).png" alt="s"> Explore</p></a>
      <a href="/profiles"><p class="sidebar"><img class="logo1" src="/image/user.png" alt=""> Profiles</p></a>
      <a href=""><p class="sidebar"><img class="logo1" src="/image/group (1).png" alt=""> Communities</p></a>
      <a href="https://www.linkedin.com/in/richardhernandezk/" target="_blank"><p class="sidebar"><img class="logo1" src="/image/linked-in-social-badge.png" alt=""> Linkedin</p></a>
      <a href="https://github.com/Richardzk17" target="_blank"><p class="sidebar"><img class="logo1" src="/image/github.png" alt=""> Github</p></a>




      <%- include('../partials/nav') %>
    </div>

