    <div class="content3">
      <p> <img class="logo" src="/image/owl.png" alt="" width="38" height="38"></p>
      <a href="/tweets"><p style="font-weight: bold;" class="sidebar"><img class="logo1" src="/image/Home.png" alt="/tweets"> Home</p></a>
        <a href="/news"><p class="sidebar"><img class="logo1" src="/image/magnifying-glass (1).png" alt="s"> Explore</p></a>
      <a href="/profiles"><p class="sidebar"><img class="logo1" src="/image/user.png" alt=""> Profile</p></a>



      <%- include('../partials/nav') %>
    </div>

