<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">


<%- include('../partials/html-head') %>

    <body>
        <div class="container2">
            <%- include('../partials/sidebar') %>
            <div class="content4">
                </div>
            <div class="content5"></div>

    </body>


