<%- include('../partials/html-head') %>

    <body>
        <div class="container2">
            <div class="content3">
                <p> <img class="logo" src="image/owl.png" alt="" width="42" height="42" ></p>
                <%- include('../partials/nav') %>
            </div>
            <div class="content4">
                    <form action="/tweets" method="POST">
                      <label>
                        <input type="text" name="tweet" class="comment" value="What is happening?!" autocomplete="off">
                      </label>
                      <label>
                        <button type="submit" class="postBtn">Post</button>
                        <ul>
                          <% tweets.forEach(tweet => { %>
                            <li>
                              <%= tweet.tweet %>
                            </li>
                          <% }) %>
                        </ul>
            </div>
            <div class="content5"></div>
        </div>
        
    </body>

