<%- include('../partials/html-head') %>
    <%- include('../partials/nav') %>

    <body>
        <div class="container2">
            <div class="content3">
                <p> <img src="/image/owl.png" alt="" width="42" height="42"></p>
            </div>
            <div class="content4">
                <input class="textbox" value="tweet" type="text">
                <h2>Comments</h2>
                <% if (user) { %>
                    <h3>Add a comment</h3>
                    <form action="/tweets/<%= tweet._id %>content" method="POST">
                        <textarea name="content"></textarea><br>
                        <button type="submit">Add Comment</button>
                    </form>
                    <% } %>

            </div>
            <div class="content5"></div>
        </div>

    </body>