.rightSearch {
    width: 370px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #F5F8FA;
    color: #858282;
    text-indent: 60px;
    margin-left: 30px;
    margin-top: 20px;
    background-image: url('/image/search.png');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 20px;
    font-size: 16px;

}

a{
    cursor: pointer;

}

.button {
    cursor: pointer;
}


.section1 {
    width: 370px;
    height: 170px;
    border-radius: 20px;
    border: none;
    background-color: #F5F8FA;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 20px;
    padding: 1px 0px 0px 10px;
}

.sub {
    margin-left: 10px;

}

.subBtn {
    width: 120px;
    border-radius: 20px;
    border: none;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.section2 {
    width: 360px;
    height: 450px;
    border-radius: 20px;
    border: none;
    background-color: #F5F8FA;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 20px;
}

.sub2 {
    margin-left: 10px;
    position: relative;

}

.trending {
    font-size: 14px;
    color: #858282;
    margin-top: 20px;
}

.hurricanes {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
}

.sub2:hover {
    background-color: #f0f0f0;
    margin-left: 0;
    padding: 1px;
}