html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

/* nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
} */

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.right {
  margin-left: 10%;
  border-radius: 240px;
}



.container{
  display: flex;
}

.content1{
  background-color: #54b7f4;
  width: 50%;
  height: 100hv;
  background-image: url('owl\ copy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  color: white;
 

}

.content2 {
  background-color: white;
  width: 50%;
  height: 100vh;
  color: black;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.text {
  margin-left: 30%;
  margin-top: 40%;
}

.text1 {
  margin-left: 10%;
  margin-top: 25%;
  width: 500px;
}