html {
  box-sizing: border-box;
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  margin: 0;
}

/* nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
} */

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.right {
  margin-left: 10%;
  border-radius: 240px;

}



.container {
  display: flex;
}

.content1 {
  background-color: #54b7f4;
  width: 80%;
  height: 100hv;
  background-image: url('/image/owl.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  color: white;


}

.content2 {
  background-color: white;
  width: 50%;
  height: 100vh;
  color: black;
}

.loginpage {
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.text {
  margin-left: 30%;
  margin-top: 40%;
}

.text1 {
  margin-left: 10%;
  margin-top: 25%;
  width: 500px;
}

.container2 {
  display: flex;
  height: 100%;
}

.content3 {
  background-color: white;
  width: 25%;
  height: 100vh;
  color: black;
  align-items: center;
  margin-bottom: 10px; 
}

.content4 {
  background-color: white;
  width: 50%;
  height: 100vh;
  border: 1px solid lightgray;
  border-top: none;
  color: black;


}

.content5 {
  background-color: white;
  width: 25%;
  height: 100vh;
  color: black;
}

.textbox {
  width: 600px;
  margin-left: 7%;
  margin-top: 10px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(236, 236, 236);
  color: rgb(133, 130, 130);
  text-align: center;

}

li {
  list-style: none;
  padding: 5px;
  border: .2px solid lightgray;
  width: 106%;
  padding-left: 20px;
  position: relative;
  left: -40px;
  min-height: 70px;
  border-right: none;
  border-left: none;
}

li:hover {
  background-color: rgba(250, 250, 250, 0.9);
  border: .2px solid lightgray;
  width: 100%;
  border-left: none;
  border-right: none;
}

.comment {
  padding: 5px;
  border: .2px solid lightgray;
  width: 100%;
  border-left: none;
  border-right: none;
}

.postBtn {
  background-color: #54b7f4;
  border: none;
  color: white;
  height: 36px;
  width: 72px;
  border-radius: 16px;
  font-size: 16px;
}

.logoutBtn {
  background-color: #54b7f4;
  border: none;
  color: white;
  height: 36px;
  width: 200px;
  border-radius: 16px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 50px;
}

.logo {
  margin-left: 60px;
}

.logo1{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 5px;
}


.sidebar {
   margin-left: 60px ;
   padding: 5px;
   font-size: 20px;
}

.sidebar:hover{
  background-color: rgba(220, 220, 220, 0.9);
  border: none;
  height: 36px;
  width: 150px;
  border-radius: 16px;
}