html {
  box-sizing: border-box;
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
}

/* nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
} */

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.right {
  margin-left: 10%;
  border-radius: 240px;
}

.button {
  cursor: pointer;
}

.container {
  display: flex;
}

.content1 {
  background-color: #54b7f4;
  width: 80%;
  height: 100vh;
  background-image: url('/image/owl.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  color: white;

}

.content2 {
  background-color: white;
  width: 50%;
  height: 100vh;
  color: black;
}

.loginpage {
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.text {
  margin-left: 30%;
  margin-top: 40%;
}

.text1 {
  margin-left: 10%;
  margin-top: 25%;
  width: 500px;
}

.container2 {
  display: flex;
  height: 100%;
}

.content3 {
  background-color: white;
  width: 20%;
  height: 100vh;
  color: black;
  align-items: center;
  margin-bottom: 10px;
}

.content4 {
  background-color: white;
  width: 50%;
  height: 100vh;
  border: .5px solid lightgray;
  border-top: none;
  color: black;
  overflow: auto;
}

.content5 {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 100vh;
}

.textbox {
  width: 600px;
  margin-left: 7%;
  margin-top: 10px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(236, 236, 236);
  color: rgb(133, 130, 130);
  text-align: center;

}

li {
  list-style: none;
  padding: 5px;
  border: .2px solid lightgray;
  width: 105.5%;
  padding-left: 20px;
  position: relative;
  left: -40px;
  min-height: 70px;
  border-right: none;
  border-left: none;
}

li:hover {
  background-color: rgba(250, 250, 250, 0.9);
  border: .2px solid lightgray;
  width: 105.5%;
  border-left: none;
  border-right: none;
}

.searchBtn {
  background-color: #009dff;
  border: none;
  color: white;
  height: 28px;
  width: 80px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: 85%; */
  /* margin-bottom: 10px; */
}


.logoutBtn {
  background-color: #009dff;
  border: none;
  color: white;
  height: 36px;
  width: 200px;
  border-radius: 16px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 50px;
  cursor: pointer;

}

.logo {
  margin-left: 60px;
}

.logo1 {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-left: 5px;
}

.sidebar {
  margin-left: 60px;
  padding: 5px;
  font-size: 20px;
}

.sidebar:hover {
  background-color: rgba(220, 220, 220, 0.9);
  border: none;
  height: 38px;
  width: 180px;
  border-radius: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.comment-photo {
  height: 36px;
  width: 36px;
  margin-top: 4px;
  margin-right: 4px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-right: 10px;

}



.textbox {
  width: 600px;
  margin-left: 7%;
  margin-top: 10px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(236, 236, 236);
  color: rgb(133, 130, 130);
  text-align: center;

}


.profile_header {
  background-color: rgb(200, 212, 212);
  /* background-image: url("https://i.pinimg.com/736x/82/4c/75/824c75d5d8baddac1e3ab99a48b77f36.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vh;
  height: 240px;
}

.profile_avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: solid 4px white;
  margin-top: 170px;
  margin-left: 20px;
}

.profile_name {
  margin-left: 20px;
  font-size: 22px;
  font-weight: bolder;
}

.header_container {
  border-bottom: .2px solid lightgray;
  height: 400px;
}

.user_img {
  height: 56px;
  width: 56px;
  margin-right: 5px;
  border-radius: 50%;
}

.time_home {
  margin-left: 60%;
  color: rgb(63, 63, 63);
}


.tweet_text {
  padding: 10px 10px 10px 25px;
  margin-right: 10px;
  font-size: 20px;
}

.btn {
  margin-bottom: 10px;
  border: none;
  background-color: black;
  color: white;
  height: 28px;
  width: 90px;
  border-radius: 25px;
}

.sectionPost {
  margin-bottom: 60px;
}

.comment {
  padding: 12px;
  border: 1px solid lightgray;
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 14px;
  margin-top: 60px;
  outline: none;
}

.formInput{
  display: flex;
  flex-direction: column;
}

.postBtn {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 50px;
  background-color: #009dff;
  color: white;
  border: none;
  align-self: flex-end;
  width: 120px;
  margin-right: 10px;
}

.searchBtn {
  background-color: #009dff;
  border: none;
  color: white;
  height: 28px;
  width: 80px;
  border-radius: 16px;
  font-size: 14x;
  cursor: pointer;

  /* margin-left: 85%; */
  /* margin-bottom: 10px; */
}


.edit-btn {
  margin-bottom: 10px;
  border: none;
  background-color: black;
  color: white;
  height: 28px;
  width: 90px;
  border-radius: 25px;
}

.time{
  margin-left: 320px;
}

.article {
  padding: 15px;
  border-bottom:1px solid lightgrey ;
}

.newImg {
  height: 400px;
  width: 100%;
}