section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tweet_owner {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
}

.user_img {
    margin-left: 15px;
    margin-top: 10px;
    height: 48px;
    width: 48px;
}

.user_header {
    display: flex;
}

.tweet {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(54, 54, 54);
}

.comment {
    min-height: 100px;
}

.commentBox {
    padding: 5px;
    border: .2px solid lightgray;
    width: 100%;
    font-size: large;
    margin-top: 10px;
    outline: none;
    padding-bottom: 60px;
    height: 100px;
}

textarea::placeholder {
    text-indent: 10px;
    line-height: 30px;
}

.content5{
    color: black;
}